[submodule ".registry"]
	path = .registry
	url = https://github.com/laresbernardo/laresbernardo.r-universe.dev
	branch = HEAD
[submodule "Robyn"]
	path = Robyn
	url = https://github.com/facebookexperimental/Robyn
	subdir = R
[submodule "lares"]
	path = lares
	url = https://github.com/laresbernardo/lares
[submodule "lareshiny"]
	path = lareshiny
	url = https://github.com/laresbernardo/lareshiny
